<?php require_once "ViewHelpers.php";?><!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Error 404 : Not Found</title>
</head>
<body>
<div>
    <table align="center">
        <tr>
            <td><h1><b>Error 404 : <?php if(!empty($error)): ?><?php $viewHelpers->e($error); ?><?php else: ?>Not Found<?php endif; ?></b></h1></td>
        </tr>
    </table>
</div>
</body>
</html>
