<?php require_once "ViewHelpers.php";?><!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Error 500 : An Error Occurred</title>
</head>
<body>
<div>
    <table align="center">
        <tr>
            <td><h1><b>Error 500 : <?php if(!empty($error)): ?><?php $viewHelpers->e($error); ?><?php else: ?>An Error Occurred<?php endif; ?></b></h1></td>
        </tr>
    </table>
</div>
</body>
</html>
