<?php require_once "ViewHelpers.php";
?><?php $viewHelpers->head($parameters); ?>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <?php if(!empty($parameters['errors'])): ?>
                <p class="bg-danger">
                    <?php echo implode('<br />', $parameters['errors']); ?>
                </p>
            <?php endif; ?>
            
            <form action="/" method="post">
                <div class="form-group">
                    <label for="username">Username*</label>
                    <input type="text" class="form-control" id="username" name="_username" placeholder="Username" value="<?php echo !empty($parameters['username']) ? $viewHelpers->e($parameters['username']) : '' ?>">
                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
                <input type="hidden" name="csrf-token" value="<?php echo !empty($parameters['csrfToken']) ? $viewHelpers->e($parameters['csrfToken']) : '' ?>">
                <button type="submit" class="btn btn-default">Login</button>
            </form>

        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<?php $viewHelpers->foot(); ?>
