<?php require_once "ViewHelpers.php";
?><?php $viewHelpers->head($parameters); ?>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <caption>Messages</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Datetime</th>
                        <th>Message</th>
                        <th>Writer</th>
                        <th>Recipient</th>
                    </tr>
                </thead>
                <tbody>
                <?php if(empty($parameters['messages'])): ?>
                    <tr><td colspan="5"><i>Empty</i></td></tr>
                <?php else: ?>
                    <?php foreach ($parameters['messages'] as $message): ?>
                        <tr>
                            <td><?php $viewHelpers->e($message['id']); ?></td>
                            <td><?php $viewHelpers->e($message['created_at']); ?></td>
                            <td><?php $viewHelpers->e($message['message']); ?></td>
                            <td><?php $viewHelpers->e($message['writer_id']); ?></td>
                            <td><?php $viewHelpers->e($message['recipient_id']); ?></td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table">
                <caption>Tchat with Users</caption>
                <thead>
                <tr>
                    <th>username</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <?php if(empty($parameters['users'])): ?>
                    <tr><td colspan="4"><i>Empty</i></td></tr>
                <?php else: ?>

                    <?php foreach ($parameters['users'] as $userItem): ?>
                        <?php if($userItem['id'] != $parameters['user']['id']): ?>
                            <tr>
                                <td><?php $viewHelpers->e($userItem['username']); ?></td>
                                <td><?php $viewHelpers->e($userItem['status']); ?></td>
                                <td>
                                    <a href="/tchat/<?php $viewHelpers->e($userItem['id']); ?>">Chat with</a>
                                </td>
                            </tr>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
        </div>

    </div>
</div>
<?php $viewHelpers->foot(); ?>
