<?php require_once "ViewHelpers.php";
?><?php $viewHelpers->head($parameters); ?>
<style>
    .messages {
        border: solid #ddd 1px;
        height: 300px;
        overflow: scroll;
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p>Your name : <span class="label label-default"><?php $viewHelpers->e($parameters['user']['username']); ?></span></p>
            <p>Tchat with : <span class="label label-default"><?php $viewHelpers->e($parameters['recipient']['username']); ?></span></p>
            <p>Messages :</p>
            <div id="messages" class="messages">
                <?php foreach($parameters['messages'] as $messages): ?>
                <p>
                    <strong>
                        <?php if($parameters['user']['id'] == $messages['writer_id']): ?>
                            you
                        <?php else: ?>
                            <?php $viewHelpers->e($parameters['recipient']['username']); ?>
                        <?php endif; ?>
                        (<?php $viewHelpers->e($messages['created_at']) ?>) : </strong><?php $viewHelpers->e($messages['message']) ?>
                </p>
                <?php endforeach; ?>
            </div>
            <form>
                <div class="form-group">
                    <label for="new-message">Send a message</label>
                    <input type="text" class="form-control" id="new-message" placeholder="Write your message here">
                </div>

                <button type="submit" class="btn btn-primary" id="send-message">Send</button>
            </form>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<?php $viewHelpers->mainJs(); ?>
<script>
    $('#send-message').on('click', function (e) {
        e.preventDefault();
        var $message = $('#new-message'),
            $newMessage = $('#new-message'),
            $sendMessage = $('#send-message');

        if($message.val().length > 0) {
            $newMessage.prop('disabled', true);
            $sendMessage.prop('disabled', true);
            $.ajax({
                type      : 'POST',
                url       : '/sendmessage',
                data      : {'message': $message.val(), 'id' : '<?php $viewHelpers->e($parameters['recipient']['id']); ?>'},
                dataType  : 'json',
                success: function (data) {
                    addMessage('<?php $viewHelpers->e($parameters['user']['username']); ?>', data.message, data.date);
                    $newMessage.val('');
                    $newMessage.prop('disabled', false);
                    $sendMessage.prop('disabled', false);
                },
                error: function () {
                    alert('An error occured while sending the message');
                }
            });
        }
    });

    function addMessage(writer, message, created_at) {
        $('#messages').append('<p><strong>' + writer + ' (' + created_at + ') : </strong> ' + message + '</p>');
    }

    function updateMessages() {
        $.ajax({
            type      : 'GET',
            url       : '/messagesupdate/<?php $viewHelpers->e($parameters['recipient']['id']); ?>',
            dataType  : 'json',
            success: function (data) {
                if("undefined" != typeof data.status && 'ok' == data.status) {
                    var $messageDiv = $('#messages');
                    $messageDiv.empty();

                    $.each(data.messages, function (k, v) {
                        addMessage(
                            (v.writer_id == <?php $viewHelpers->e($parameters['user']['id']); ?>)
                                ? 'you'
                                : '<?php $viewHelpers->e($parameters['recipient']['username']); ?>' ,
                            v.message,
                            v.created_at
                        );
                    });
                    setTimeout(updateMessages, 5000);
                }

            },
            error: function () {
                // @todo
            }
        });
    }
    setTimeout(updateMessages, 1000);


</script>
</body>
</html>
